@tailwind base;
@tailwind components;
@tailwind utilities;
@media (min-width: 960px) {
    ._flyouts_558sn_37 {
      display: flex;
      margin: 0 var(--gl-spacing-0100);
      flex-direction: row;
      justify-content: flex-start;
      height: 47px;
    }
  }